.contact_header {
	background-color: #8C99E9;
}


.contact_heading {
	color: #FF43B6;
	text-align: center;
	padding-top: 20px;
}

.name {
	text-align:center;
}

.cellphone_container {
  border-radius: 100%;
  background: none;
  width: 500px;
  height: 500px;
}

.cellphone {
  background: url("./../assets/cellphone_one.svg") no-repeat top right;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  top: 5%;
  left: 5%;
}

.intro{
	text-align: center;
}

.contact_container{
	text-align: center;
	padding: 10px;
}

.contact_icons{
	background-size: contain;
	width: 100px;
	height: 100px;
	position: relative;
	margin: 0 auto;
	display: inline-block;
}

.mail {
	background: url("./../assets/mail_icon.svg") no-repeat;
}

.mail:hover {
  background: url("./../assets/mail_icon_hover.svg") no-repeat;
  background-size: contain;
}

.phone {
	background: url("./../assets/phone_icon.svg") no-repeat;
}

.phone:hover {
  background: url("./../assets/phone_icon_hover.svg") no-repeat;
  background-size: contain;
}

.linkedin {
	background: url("./../assets/linkedin_icon.svg") no-repeat;
}

.linkedin:hover {
  background: url("./../assets/linkedin_icon_hover.svg") no-repeat;
  background-size: contain;
}

.dribble {
	background: url("./../assets/dribble_icon.svg") no-repeat;
}

.dribble:hover {
  background: url("./../assets/dribble_icon_hover.svg") no-repeat;
  background-size: contain;
}
