.project-one {
    height: 100%;
    background-color: #ffffff;
}

.project-two {
    height: 100%;
    background-color: #ffffff;
}

.project-three {
    height: 100%;
    background-color: #ffffff;
}

.project-four {
    height: 100%;
    background-color: #ffffff;
}

.project-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    text-align: center;
    padding: 5%;
}

.description {
    width: 75%;
    line-height: 1.5;
    margin-left: 15%;
    font-size: 19px;
    margin-bottom: 50px;
}

.project_one {
    width: 100%;
    height: 450px;
	display: block;
}

.project_two {
    width: 100%;
    height: 450px;
	display: block;
}

.project_three {
    width: 100%;
    height: 450px;
	display: block;
}

.project_four{
	width: 100%;
    height: 450px;
	display: block;
}

.button_project {
    background-color: #0db4b9;
    border: none;
    margin-left: 35%;
    padding: 15px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}



.project {
    width: 100%;
    height: 100%;
}

.project_header_v2 {
    width: 100%;
    height: 500px;
    background: url("./../assets/myprojects.jpg") no-repeat;
    background-size: 100% 500px;
    display: inline-block;
}

.project_header_title {
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
    color: black;
}

.project-divider {
    height: 1px;
    width: 100%;
    display: block;
    background-color: black;
}

@media screen and (max-width: 1080px) {
    .button_project {
        margin-left: 0;
    }

    .project_buttons {
        text-align: center;
    }

    .project {
        width: 100%;
        height: 100%;
    }

    .project_header_v2 {
        width: 100%;
        height: 200px;
        background-size: 100% 200px;
    }

    .name {
        padding-top: 50px;
    }

    .project_header_title {
        font-size: 30px;
        padding-top: 55px;
    }

    .project_one {
        height: 100%;
    }

    .project_two {
        height: 100%;
    }

	.project_three {
		height: 100%;
	}

	.project_four{
		height: 100%;
	}

    .project-one {
        padding-bottom: 20px;
    }

	.project-two {
        padding-bottom: 20px;
    }

	.project-three {
        padding-bottom: 20px;
    }

	.project-four {
        padding-bottom: 20px;
    }
}
