* {
  border: 0;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: arial;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

a:hover, a:active, a:focus, a {
	outline: 0px none;
}

.topnav {
  background-color: #000000;
  overflow: hidden;
  padding-left: 50px;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #000000;
  color: #3e3e3e;
}

.topnav a.active {
  background-color: #000000;
  color: white;
}

.header {
  grid-area: header;
  height: 600px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  background-color: #8C99E9;
}

.grill_container {
  border-radius: 100%;
  background: none;
  width: 415px;
  height: 415px;
}

.grill {
  background: url("./../assets/basic_grill_1.svg") no-repeat top left;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  top: 15%;
  left: 15%;

}

.grill:hover {
  background: url("./../assets/basic_grill_2.svg") no-repeat top left;
  background-size: contain;
}

.name {
  font-size: 50px;
  text-align: left;
  color: #ff009d;

}

.title {
  text-align:center;
  padding-top: 30px;
}

.intro {
  position: relative;
  background: none;
  border-radius: .4em;
  width: 100%;
  padding: 0 16px 0 0;
  text-align: left;
  font-size: 25px;
  color: #ffffff;
}


#skills{
}

.skills_container {
  text-align:center;
}
.skill-circle {
  margin-bottom: 48px;
}


.buttons{
	background-color: #FF43B6;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
}

.intro_button {
    margin-left: 40%;
}
